<app-header></app-header>
<app-nav></app-nav>
<main class="d-flex">
  <aside style="height: 100vh;" class="bg-light p-3 border-right d-flex flex-column justify-content-between">
    <ul class="list-group">
      <li class="list-group-item">Item One</li>
      <li class="list-group-item">Item Two</li>
      <li class="list-group-item">Item Three</li>
    </ul>
  </aside>
  <section>
<!--<app-service></app-service>-->
<!--    <app-customer></app-customer>-->
<!--    <app-edit-customer></app-edit-customer>-->
  <!--    <app-create-customer></app-create-customer>-->
  </section>
</main>
<app-footer></app-footer>
