<h1>Them moi Dich Vu</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputId">iD Dich Vu</label>
      <input type="text" class="form-control" id="inputId" placeholder="Id">
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Ten Dich Vu</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDienTich">Dien Tich</label>
    <input type="text" class="form-control" id="inputDienTich" >
  </div>
  <div class="form-group">
    <label for="inputSoTang">So Tang</label>
    <input type="text" class="form-control" id="inputSoTang" >
  </div>
  <div class="form-group">
    <label for="inputToiDa">So Nguoi Toi Da</label>
    <input type="text" class="form-control" id="inputToiDa" >
  </div>
  <div class="form-group">
    <label for="inputChiPhiThue">Chi Phi Thue</label>
    <input type="text" class="form-control" id="inputChiPhiThue" >
  </div>
  <div class="form-group col-md-4">
    <label for="inputKieuThue">Kieu Thue</label>
    <select id="inputKieuThue" class="form-control">
      <option selected>Nam</option>
      <option>Thang</option>
      <option>Ngay</option>
      <option>Gio</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Them Moi</button>

</form>
