<nav class="bg-light p-3">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="Home.html">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarEmployee" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Employee
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarEmployee">
        <a class="dropdown-item" href="NhanVien.html">CreateEmployee</a>
        <a class="dropdown-item" href="#">ShowEmployee</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarCustomer" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Customer
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarCustomer">
        <a class="dropdown-item" href="KhachHang.html">CreateCustomer</a>
        <a class="dropdown-item" href="listcustomer">ShowCustomer</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarService" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Service
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarService">
        <a class="dropdown-item" href="DichVu.html">CreateService</a>
        <a class="dropdown-item" href="#">ShowService</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarContract" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Contract
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarContract">
        <a class="dropdown-item" href="HopDong.html">CreateContract</a>
        <a class="dropdown-item" href="listHopDong.html">ShowContract</a>
      </div>
    </li>
  </ul>
</nav>
