<h1>List Khach Hang</h1>
<table class="table">
  <thead>
  <tr>
    <th>No</th>
    <th>ID</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers; let i = index">
    <td>{{i + 1}}</td>
    <td>{{customer.id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.birthday}}</td>
    <td>{{customer.card}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.type}}</td>
    <td>{{customer.action}}</td>
  </tr>
  </tbody>
</table>
